<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TEST.Properties.Settings>
            <setting name="TEST_WS_Ecuador_Integracion" serializeAs="String">
                <value>http://testint.thefactoryhka.com.ec/Integracion.asmx</value>
            </setting>
            <setting name="TEST_WS_CERT_UtilService" serializeAs="String">
                <value>http://testint.thefactoryhka.com.ec/UtilService.asmx</value>
            </setting>
            <setting name="TEST_EMI_COL_Service" serializeAs="String">
                <value>http://demoemision21.thefactoryhka.com.co/ws/v1.0/Service.svc</value>
            </setting>
        </TEST.Properties.Settings>
    </applicationSettings>
</configuration>